<div class="bg-danger">
  <%= @input_error %><br/>
</div>

<p>Кількість розворотів: <%= @num_pages %></p>
<p>Тираж: <%= @number_copies %></p>
<p>Ціна за одиницю товару: <%= @Price_calc %></p>
<p>Ціна за весь товар: <%= @Price_all %></p>

