<%= form_for(@order_date) do |f| %>
  <% if @order_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_date.errors.count, "error") %> prohibited this order_date from being saved:</h2>

      <ul>
      <% @order_date.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <label>Червона напис:</label>
    <%= f.text_area :info %>
  </div>
  <div class="field">
    <label>Дата:</label>
    <%= f.text_area :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

  <div class="actions">
  <%= link_to 'Скасувати', new_price_path, class: "btn dropdown-toggle" %>
  <div class="actions">
<% end %>
