<% content_for :futer do %>
  <li ><a class="not_active" href="<%= result_index_path %>">Ціни</a></li>
  <%= render 'futer' %>
  <li><a class="not_active" href="<%= landing_page_photobook_path  %>">Photobook</a></li>
  <li><a class="active" href="<%= landing_page_printbook_path  %>">Printbook</a></li>
  <li><a class="not_active" href="<%= landing_page_slimbook_path  %>">Slimbook</a></li>
<% end %>

<div class="container">
	<div class="first_information">
		<p>
			<h2>PrintBook</h2>
			Фотокнига <strong>PrintBook</strong> — це надрукована на сучасному цифровому обладнанні поліграфічним способом книга. Внутрішні листи надруковані на <strong>170 г/м</strong> крейдованому папері. Обкладинка — тверда ламінована палітурка з індивідуальним дизайном. Це найбільш популярний у світі формат фотокниг. Основною рисою фотокниги є оперативність виготовлення, унікальність її зовнішнього вигляду і доступність в ціні. Для кожної фотокниги Ви можете створити свій, унікальний дизайн обкладинки, форзаців і сторінок.
		</p>
	</div>

	 <h2 class="block-title">Формати книг</h2>
            
	<div class="content clearfix">
		<div class="menu-block-wrapper menu-block-4 menu-name-main-menu parent-mlid-0 menu-level-3">
			<ul class="menu">
				<li class="first leaf menu-mlid-970"><a href="http://pro.cyfrolab.com/photobooks/printbook/24x32" class="menu_icon menu-970" title="">24x32</a></li>
				<li class="leaf menu-mlid-971"><a href="http://pro.cyfrolab.com/photobooks/printbook/30x30" class="menu_icon menu-971" title="">30x30</a></li>
				<li class="leaf menu-mlid-972"><a href="/photobooks/printbook/20x30" class="menu_icon menu-972" title="">20x30</a></li>
				<li class="leaf menu-mlid-973"><a href="/photobooks/printbook/30x20" class="menu_icon menu-973" title="">30x20</a></li>
				<li class="leaf menu-mlid-974"><a href="/photobooks/printbook/20x20" class="menu_icon menu-974" title="">20x20</a></li>
				<li class="leaf menu-mlid-975"><a href="/photobooks/printbook/15x20" class="menu_icon menu-975">15x20</a></li>
				<li class="last leaf menu-mlid-976"><a href="/photobooks/printbook/20x15" class="menu_icon menu-976" title="">20x15</a></li>
			</ul>
		</div>
	</div>


	<h2>Основні характеристики</h2>
	<h3>Папір</h3>
	<p>
		 Для друку фотокниг ми використовуємо крейдований папір щільністю 170 г/м (до прикладу журнали друкують на папері 80 г/м). Також, Ви можете замовити фотокнигу на <strong>premium</strong> папері, який більш яскравий і біліший.
	</p>

	<h3> Ламінування книжкового блоку </h3>
	<p>
		Глянцеве ламінування блоку дозволяє наблизити цифровий друк до традиційного фотодруку. Ламінування додає кольорам глибину і контрастність, сторінки фотокниги стають більш цупкими, менш схильні до механічних пошкоджень і вологи. Форзаци фотокниги не ламінують.
	</p> 
	<p> 
		При підготовці макету фотокниги під ламінування, рекомендуємо врахувати, що кольори будуть насиченіші і внести в макет відповідні коригування кольору.
	</p>

	<h3>Обкладинки</h3>

	<h4>1. Фотообкладинка</h4>
	<p>
		 Базова обкладинка всіх наших фотокниг. Вона тверда, видрукувана цифровим способом і покрита глянцевою ламінацією.
	</p>

	<h4>2. Тканинна обкладинка</h4>

	<p>
		Обкладинка зі спеціальної тканини, відомого голландського виробника палітурних матеріалів. Фотокнига в такій обкладинці виглядає більш "книжно" і злегка нагадує традиційну палітурку старих книг. Тиснення не передбачено.
	</p>

	<h4>3. Суперобкладинка</h4>

	<p>
		Обкладинка віддрукована на фотопапері, що одягається на основну обкладинку. Суперобкладинка є елементом зовнішнього оформлення фотокниги, оберігає її від пошкоджень і забруднень. На ній може розміщуватися анотація до фотокниги, інформація про автора, Ваша реклама і фотозображення. Найкраще виглядає в парі з обкладинкою із тканини.
	</p>

</div>
