<% content_for :futer do %>
  <li ><a class="not_active" href="<%= result_index_path %>">Ціни</a></li>
 	<%= render 'futer' %>
  <li><a class="not_active" href="<%= landing_page_photobook_path  %>">Photobook</a></li>
  <li><a class="not_active" href="<%= landing_page_printbook_path  %>">Printbook</a></li>
  <li><a class="active" href="<%= landing_page_slimbook_path  %>">Slimbook</a></li>
<% end %>

<div class="container">
	<div class="first_information">
		<h2>SlimBook</h2>
		<p>
			Фотокнига <b>SlimBook</b> це ідеальне поєднання поліграфії та фотодруку. Дана фотокнига поєднує у собі якість фотокниги та доступність поліграфічних технологій.<br /><br />SlimBook виготовлений за самою передовою технологією виробництва фотокниг, в основі якої лежить використання спеціального прошарку між сторінками, а не пластика чи картону. В результаті цього, сторінки, надруковані на фотопапері <b>Fujicolor Crystal Archive LUSTRE</b>, виходять щільними, гнучкими та не піддаються деформаціям. 
		</p>
	</div>

	<div class="content clearfix">
		<div class="menu-block-wrapper menu-block-4 menu-name-main-menu parent-mlid-0 menu-level-3">
  			<ul class="menu">
  				<li class="first leaf menu-mlid-607"><a href="/photobooks/slimbook/30x30" class="menu_icon menu-607" title="">30x30</a></li>
				<li class="leaf menu-mlid-609"><a href="/photobooks/slimbook/20x30" class="menu_icon menu-609" title="">20x30</a></li>
				<li class="leaf menu-mlid-610"><a href="/photobooks/slimbook/18x24" class="menu_icon menu-610">18x24</a></li>
				<li class="leaf menu-mlid-965"><a href="/photobooks/slimbook/23x23" class="menu_icon menu-965" title="">23x23</a></li>
				<li class="leaf menu-mlid-966"><a href="/photobooks/slimbook/29x19" class="menu_icon menu-966">29x19</a></li>
				<li class="last leaf menu-mlid-967"><a href="/photobooks/slimbook/19x19" class="menu_icon menu-967">19x19</a></li>
			</ul>
		</div>
    </div>


	<h2>Основні характеристики</h2>
	<h3>Основа</h3>

	<p>
		Основа між розворотами – головна «родзинка» Слімбука. Завдяки їй він легкий, майже як поліграфічний 
		<a href="<%= landing_page_photobook_path%>">
			PrintBook
		</a>
		і водночас має якість зображення класичного PhotoBook.<br /><br />У <b>SlimBook</b> не використовуються пластикові та картонні прошарки між розворотами сторінок, завдяки чому блок стає тоншим. У той самий час спеціальний склад між сторінками гарантує відсутність деформацій розворотів.<br /><br /> За рахунок зменшення товщини сторінок, технологія SlimBook дозволяє створювати макети книг об’ємом до 40-ка розворотів, що у перерахунку на аналогічний PrintBook складає 80 сторінок на справжньому фотопапері з <b>розкриттям блоку на 180°</b>!
	</p>

	<h3>Папір</h3>
	<p>
		Розвороти Ваших Слімбуків ми друкуємо на фотопапері <b>Fujicolor Crystal Archive Lustre</b> використовуючи при цьому міні лабораторії <b>Noritsu 34 PRO</b> 
	</p>
	<p>
		Даний тип паперу використовується за замовчуванням для друку фотокниг SlimBook та <a href="/uk/photobook">PhotoBook</a>. Фотографам старої школи добре відома так звана «тисненка». Фотопапір <b>Lustre</b> (зустрічається як «ластер» чи «люстра»), максимально на нього схожий. Папір володіє специфічним рельєфом та характерною кольоропередачею.
	</p>
	<p>
		Ми не використовуємо традиційний матовий папір (Matte), тим не менш, при оформленні замовлення, коли у меню вибору паперу ви побачите опцію «матовий» - знайте, що це «люстра». Чому так? Просто нам дуже важко пояснити по телефону його відмінність від матового паперу, однак, якщо спитати «він більше глянцевий чи матовий», то ми відповідаємо, що папір швидше «матовий» ;) 
	</p>

	<h3>Обкладинки</h3>
	<h4>1. Фотообкладинки</h4>
	<p>
		Базова обкладинка усіх наших фотокниг. Як і у <a href="<%= landing_page_printbook_path%>">PrintBook</a> вона тверда, надрукована цифровим способом та покрита глянцевою ламінацією.
	</p>

	<h4>2. Обкладинка з шкірозамінника</h4>

	<p>
		Більше життя, більше кольору! Обирайте ту обкладинку, яка підходить під тональність та настрій Вашої фотокниги. Високоякісний італійський шкірозамінник залишить приємні тактильні відчуття, а Ваша совість залишиться спокійною, бо жодне звірятко не було вбите.
	</p>

	<h4>3. Обкладинки з шкірзамінника з фотовставкою</h4>
	
	<p>
		Чудове рішення, щоб прикрасити Вашу книгу. Замовте обкладинку з шкірзамінника з фотовставкою, і Ваша фотокнига стане унікальною та неповторною.
	</p>

</div>