<% content_for :futer do %>
  <li ><a class="not_active" href="<%= result_index_path %>">Ціни</a></li>
  <li><a class="active" href="<%= prices_path %>">Таблиці</a></li>
  <li><a class="not_active" href="<%= admin_session_path  %>">Адміністрація</a></li>
  <li><a class="not_active" href="<%= landing_page_photobook_path  %>">Photobook</a></li>
  <li><a class="not_active" href="<%= landing_page_printbook_path  %>">Printbook</a></li>
  <li><a class="not_active" href="<%= landing_page_slimbook_path  %>">Slimbook</a></li>
<% end %>

<div class="container">

  <div class="center">
    <%= render @prices %>
  </div>
 

</div>
