<div class="container">
<%= link_to "Вихід", destroy_admin_session_path, :method => :delete, :class  => "btn btn-default dropdown-toggle", :data => "dropdown" %>

<%= link_to 'Назад', prices_path %>

<% @order_dates.each do |order_date| %>
      <tr>
        <td><%= order_date.info %></td>
        <td><%= order_date.date %></td>
        <td><%= link_to 'Змінити', edit_order_date_path(order_date) %></td>
      </tr>
<% end %>

<p>админ</p>

<table>
  <thead>
    <tr>
      <th>Вид фотодруку</th>
      <th>Тип паперу</th>
      <th>Формат</th>
      <th>Мінімальна кільк розворо</th>
      <th>Максимальна кільк розвор</th>
      <th>Крок</th>
      <th>Ціна від 1 до 4 включно</th>
      <th>Різниця цін від 1 до 4</th>
      <th>Ціна від 5 до 99 включно</th>
      <th>Різниця цін від 5 до 99</th>
      
    </tr>
  </thead>

  <tbody>
    <% @prices.each do |price| %>
      <tr>
        <td><%= price.type_photo %></td>
        <td><%= price.type_paper %></td>
        <td><%= price.format %></td>
        <td><%= price.min_num_pages %></td>
        <td><%= price.max_num_pages %></td>
        <td><%= price.step_pages %></td>
        <td><%= price.price1_4 %></td>
        <td><%= price.difference1_4 %></td>
        <td><%= price.price5_99 %></td>
        <td><%= price.difference5_99 %></td>
        <!--<td><%#= link_to 'Show', price %></td>-->
        <td><%= link_to 'Змінити', edit_price_path(price) %></td>
        <td><%= link_to 'Видалити', price, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'form' %>
</div>


